.tracking .jira {
  min-height: 100vh;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
}
.tracking .ant-btn-primary:focus, .tracking .ant-btn-primary:hover, .tracking .ant-btn-primary {
  background-color: #065fd4;
  border-color: #065fd4;
}
.tracking a, .tracking .primary {
  color: #065fd4;
}
/* Sider Bar */
.tracking .sideBar {
  position: fixed;
  height: 100vh;
  z-index: 10;
  background-color: #065fd4;
  width: 4%;
  transition: 0.2s;
}

.tracking .sideBar:hover {
  width: 15%;
}

.tracking .sideBar:hover .sideBar-top .sideBar-icon:first-child {
  padding: 0 40%;
}

.tracking .sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) {
  padding: 0;
  padding-left: 5%;
}

.tracking .sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.tracking .sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .svg-inline--fa {
  margin-right: 10px;
}

.tracking .sideBar:hover .sideBar-bottom {
  left: 0%;
  width: 100%;
}

.tracking .sideBar:hover .sideBar-bottom .svg-inline--fa {
  margin-right: 10px;
}

.tracking .sideBar:hover .sideBar-bottom .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.tracking .sideBar .sideBar-icon {
  margin-bottom: 20%;
}

.tracking .sideBar .sideBar-icon .svg-inline--fa {
  color: white;
}

.tracking .sideBar .sideBar-icon .title {
  opacity: 0;
}

.tracking .sideBar .sideBar-top .sideBar-icon:first-child {
  padding-top: 20%;
  font-size: 25px;
}

.tracking .sideBar .sideBar-bottom {
  position: absolute;
  bottom: 3%;
  left: 8%;
}

.tracking .sideBar .sideBar-icon {
  padding: 0 18%;
}

.tracking .sideBar .sideBar-icon:not(:first-child) {
  padding: 0 30%;
  height: 30px;
}
.tracking .modal {
  z-index: 1020;
}
.tracking .modal-backdrop {
  z-index: 1010;
}
/* Menu */
.tracking .menu {
  min-height: 100vh;
  min-width: 270px;
  background-color: #0052cc;
}

.tracking .menu .account {
  display: flex;
  padding: 5% 17%;
  margin-bottom: 5%;
}

.tracking .menu .account .avatar {
  padding-top: 13%;
  margin-right: 10px;
}

.tracking .avatar img {
  width: 50px;
}

.tracking .menu .account .account-info {
  padding-top: 12%;
  padding-bottom: 5%;
  text-align: left;
}

.tracking .menu .account .account-info p:first-child {
  margin-bottom: 3px;
  font-weight: 500;
}

.tracking .menu .account .account-info p:last-child {
  margin-top: 0px;
  font-weight: 300;
}

.tracking .menu .control {
  padding: 0% 10%;
  text-align: left;
  margin-bottom: 8%;
  margin-left: 7%;
  margin-right: 7%;
}

.tracking .menu .control div {
  margin-bottom: 10px;
  padding: 2% 3%;
  cursor: pointer;
}

.tracking .menu .control div span:first-child {
  margin-right: 10px;
}

.tracking .menu .control div span:first-child:focus {
  background-color: #ebecf0;
}

.tracking .menu .control div:focus {
  color: royalblue;
}

.tracking .menu .feature {
  padding: 0% 10%;
  text-align: left;
  margin-bottom: 8%;
  margin-left: 7%;
  margin-right: 7%;
}

.tracking .menu .feature div {
  margin-bottom: 5px;
  padding: 2% 3%;
  cursor: pointer;
}

.tracking .menu .feature div .svg-inline--fa {
  margin-right: 5px;
}

.tracking .menu .feature div span {
  font-size: 14px;
}

.tracking .main {
  padding-left: 2%;
}
.tracking .main .header .breadcrumb {
  margin-bottom: 0;
  padding-left: 0px;
}

.tracking .main h3 {
  margin-bottom: 20px;
}

.tracking .main .info .search-block {
  position: relative;
}

.tracking .main .info .search-block .search {
  height: 32px;
  width: 200px;
  background-color: rgb(250, 251, 252);
  border: 2px solid rgb(223, 225, 230);
  border-radius: 3px;
  padding-left: 32px;
}

.tracking .main .info .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 15%;
  color: #67748b;
}
.tracking .ant-btn-danger {
  background: #ff4d4f !important;
}
.tracking .ant-btn-primary {
  background: #1890ff !important;
}
.tracking .main .info .avatar-group {
  margin-left: 20px;
}

.tracking .avatar-group .avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 50%;
}

.tracking .avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 50%;
}

.tracking .main .info .text {
  text-align: center;
  line-height: 35px;
}

.tracking .main .content {
  margin-top: 20px;
}

.tracking .main .content .card {
  margin-right: 10px;
  background-color: #f4f5f7;
}

.tracking .main .content .card .card-header {
  border: none;
  background-color: transparent;
  color: #5e6c84;
}

.tracking .main .content .card .list-group {
  border: none;
}

.tracking .main .content .card .list-group .list-group-item {
  margin: 5px;
}

.tracking .list-group-item p {
  font-size: 14px;
}

.tracking .list-group-item .block {
  justify-content: space-between;
}

.tracking .list-group-item .block .block-left {
  line-height: 40px;
}

.tracking .list-group-item .block .block-left .svg-inline--fa {
  margin-right: 5px;
}

.tracking .fa-bookmark {
  color: #5fb03e;
}

.tracking .fa-arrow-up {
  color: #d85463;
}

.tracking .fa-check-square {
  color: #62a0ce;
}

/* Modal */
.tracking .modal-search {
  margin: 0px !important;
}

.tracking .modal-search .modal-content {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100vh;
}

.tracking .modal-search .modal-content .modal-header {
  border-bottom: none;
}

.tracking .modal-search .modal-content .modal-header .search-block {
  position: relative;
  width: 100%;
}

.tracking .modal-search .modal-content .modal-header .search-block .search {
  height: 32px;
  border: none;
  border-bottom: 2px solid #7094ce;
  padding-left: 32px;
  width: 100%;
}

.tracking .modal-search .modal-content .modal-header .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 15%;
  color: #67748b;
}

.tracking .modal-search .modal-body div {
  height: 50px;
}

.tracking .modal-search .modal-body div .icon {
  padding: 3% 0px;
  margin-right: 15px;
}

.tracking .modal-search .modal-body div div p {
  margin: 0;
  font-size: 16px;
}

.tracking .modal-search .modal-body div div p:last-child {
  color: grey;
}

/* Modal Info */
.tracking .modal-info {
  max-width: 1000px !important;
}

.tracking .modal-info .modal-content {
  padding: 20px 24px;
}

.tracking .modal-info .modal-content .modal-header {
  padding: 1rem 2rem;
  border-bottom: none;
}

.tracking .task-title span {
  margin-left: 10px;
}

.tracking .task-click div span {
  padding-right: 20xp;
}

.tracking .fa-trash-alt {
  width: 20px !important;
  height: 20px;
}

.tracking .task-click .close {
  padding-bottom: 16px !important;
}

.tracking .modal-info .modal-body .issue {
  font-size: 20px;
  font-weight: 500;
}

.tracking .modal-info .modal-body .description p:first-child {
  margin-bottom: 5px;
}

.tracking .input-comment {
  width: 100%;
}

.tracking .input-comment input {
  width: 100%;
  height: 45px;
  padding: 10px;
}

.tracking .block-comment .avatar {
  margin-right: 15px;
}

.tracking .display-comment .avatar {
  margin-right: 15px;
}

.tracking .col-4 h6 {
  font-size: 13px;
}

.tracking .status .custom-select {
  height: 35px;
  background: #dcdfe4;
  margin-bottom: 20px;
}

.tracking .item {
  margin-right: 20px;
  background: #e9eaf0;
  padding: 5px;
  border-radius: 5px;
  flex-basis: 50%;
}

.tracking .item .avatar img {
  width: 30px;
  height: 30px;
}

.tracking .item .name {
  margin: 0;
}

.tracking .reporter .item {
  width: fit-content;
}

.tracking .reporter {
  margin-bottom: 20px;
}

.tracking .estimate-hours {
  height: 35px;
  background: #F2F3F7;
  margin-bottom: 20px;
  border: 1px solid ;
  border-color: #ced4da;
  width: 100%;
  padding: 8px;
}

.tracking .estimate-hours:focus{
  background: white;
}

.tracking .time-tracking{
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tracking .time-tracking h6{
  font-size: 12px;
}

.tracking .fa-clock{
  margin-right: 10px;
}

.tracking .progress{
  height: 5px!important;
  width: 100%;
}

.tracking .logged, .tracking .estimate-time{
  font-size: 14px;
}
.tracking #components-form-demo-normal-login .login-form {
  max-width: 300px;
}
.tracking #components-form-demo-normal-login .login-form-forgot {
  float: right;
}
.tracking #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
.tracking #components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.tracking .loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}